In [5]:
import numpy as np
import pandas as pd
f = open('input.txt', 'r')

n = f.read().strip().split('\n') # this could maybe be optimized, but I don't care enough

triList = []

In [6]:
def check():
    for line in n:
        sides = line.split()
        sides = [int(i) for i in sides]
        triList.append(sides)
#         triList.append(checkTriangle(sides))

In [7]:
def checkTriangle(sideLengthList):
    counter = 0
    for side in sideLengthList:
        if((sum(sideLengthList) - side) > side):
            counter += 1
        else:
            return(False)
        if(counter == 3):
            return(True)

In [8]:
checkTriangle([3, 4, 1])

False

In [9]:
check()

In [93]:
small = triList
small = np.array(small)
small = pd.DataFrame(small)
#small.columns = ['a', 'b', 'c']
small

        0    1    2
0     810  679   10
1     783  255  616
2     545  626  626
3      84  910  149
4     607  425  901
5     556  616  883
6     938  900  621
7     638  749  188
8     981  415  634
9     680  557  571
10    523  604  270
11    910  954  484
12    464  392  514
13    458   52  687
14    696  438  832
15    213  583  966
16    572  571  922
17    451   42  686
18    177  390  688
19    151  136  705
20     92  413  191
21    789  676  377
22    486  262  600
23    450  708  472
24    556    9  481
25    157   85   94
26    574   93  549
27    539  165  487
28    815  742   73
29    353  773  428
...   ...  ...  ...
1569  841  595  727
1570  809  169  417
1571  233  566  654
1572  547  419  783
1573   91  422  981
1574  628    1  945
1575   83  747  306
1576  399  806  592
1577  346  708  392
1578  813  865  624
1579  516  636   29
1580  592  753  610
1581  440  460  145
1582  457  457  114
1583   40   19  165
1584  494  659  248
1585  647  950  224
1586  810  965  241
1587  913  630  245
1588  919  652  409
1589   38  151  355
1590  430  239   96
1591  372  597  360
1592  711  494  370
1593  176  710  108
1594  130  230  503
1595  188  509  421
1596  850  394  702
1597   68  744  665
1598  919  923  873

[1599 rows x 3 columns]

In [94]:
small.transpose()

,0,1,2,3,4,5,6,7,8,9,...,1589,1590,1591,1592,1593,1594,1595,1596,1597,1598
0,810,783,545,84,607,556,938,638,981,680,...,38,430,372,711,176,130,188,850,68,919
1,679,255,626,910,425,616,900,749,415,557,...,151,239,597,494,710,230,509,394,744,923
2,10,616,626,149,901,883,621,188,634,571,...,355,96,360,370,108,503,421,702,665,873

In [76]:
first = small.transpose()[[0,1,2]]
second = small.transpose()[[3,4,5]]
second.columns = [0, 1, 2]
pd.concat([first,second], ignore_index = True)

     0    1    2
0  810  783  545
1  679  255  626
2   10  616  626
3   84  607  556
4  910  425  616
5  149  901  883

In [80]:
small.shape

(6, 3)

In [92]:
pd.DataFrame(np.reshape(small.values,(6,3)), columns = ['A', 'B', 'C'])

     A    B    C
0  810  679   10
1  783  255  616
2  545  626  626
3   84  910  149
4  607  425  901
5  556  616  883

In [87]:
pd.DataFrame(small.values.reshape(6,3), columns = ['A', 'B', 'C'])

     A    B    C
0  810  679   10
1  783  255  616
2  545  626  626
3   84  910  149
4  607  425  901
5  556  616  883

In [101]:
tpd = pd.DataFrame(small.transpose().values.reshape(small.shape[0],3))
tpd

        0    1    2
0     810  783  545
1      84  607  556
2     938  638  981
3     680  523  910
4     464  458  696
5     213  572  451
6     177  151   92
7     789  486  450
8     556  157  574
9     539  815  353
10    526  433  168
11    848  885  469
12    899  864  101
13    529   41  562
14    468  451  561
15    597  171  541
16    268  332  100
17    194  325  170
18    765   15  762
19    662   29  667
20    935  504  771
21    490  441  862
22    655  286  368
23    419  316  197
24    551  855  894
25    451  608  420
26    560  371  188
27     26  304  286
28    883  774  300
29    529  740  567
...   ...  ...  ...
1569  712  776  142
1570  499  545   71
1571  493  381  134
1572  128  479  363
1573  556   40  539
1574  589  584    9
1575  552   11  546
1576  693  292  441
1577  373  831  664
1578   59  556  506
1579  607  370  303
1580  215  857  642
1581  323  609  315
1582  342  682  926
1583  891  942  318
1584  503  625  646
1585  368  425  190
1586  356  802  905
1587  837  863   43
1588  557  547   43
1589  727  417  654
1590  783  981  945
1591  306  592  392
1592  624   29  610
1593  145  114  165
1594  248  224  241
1595  245  409  355
1596   96  360  370
1597  108  503  421
1598  702  665  873

[1599 rows x 3 columns]

In [109]:
tpd.apply(checkTriangle, axis = 1).value_counts()

True     1544
False      55
dtype: int64

In [110]:
# After thoughts,
# That was a good use of pandas and the apply function
# Nice job