In [8]:
import pandas as pd
f = open('input.txt', 'r')

In [9]:
"""
Starting plan:

Put the text in a pandas dataframe

manually ask pandas what the most common element in each column is.

How do we put the input in a df?

for item in list:
    append the string as a list to the pandas column.
    
Done.

Easy. Okay, let's get started."""

"\nStarting plan:\n\nPut the text in a pandas dataframe\n\nmanually ask pandas what the most common element in each column is.\n\nHow do we put the input in a df?\n\nfor item in list:\n    append the string as a list to the pandas column.\n    \nDone.\n\nEasy. Okay, let's get started."

In [28]:
df = pd.DataFrame()
myList = [1, 2, 3]
df.append([myList])

   0  1  2
0  1  2  3

In [29]:
df = pd.DataFrame()

with open('input.txt', 'r') as file:
    for line in file:
        #print([list(line.strip())])
        df = df.append([list(line.strip())])

df.head()

   0  1  2  3  4  5  6  7
0  d  r  h  q  j  k  b  v
0  d  t  m  u  k  o  h  n
0  p  b  l  n  p  t  v  r
0  r  g  g  q  r  q  r  e
0  i  h  k  n  l  j  c  i

In [47]:
df[1].count()/22

26.0

In [48]:
for n in range(8):
    print(df[n].value_counts()) # bipjaytb

m    23
u    22
p    22
s    22
k    22
q    22
c    22
e    22
w    22
r    22
d    22
n    22
z    22
h    22
i    22
x    22
a    22
o    22
v    22
y    22
j    22
g    22
t    22
f    22
l    22
b    21
Name: 0, dtype: int64
l    23
u    22
y    22
s    22
k    22
q    22
c    22
t    22
e    22
w    22
z    22
r    22
n    22
p    22
h    22
a    22
x    22
m    22
v    22
o    22
j    22
d    22
g    22
f    22
b    22
i    21
Name: 1, dtype: int64
n    23
u    22
i    22
s    22
k    22
q    22
c    22
t    22
e    22
w    22
z    22
r    22
m    22
b    22
h    22
x    22
a    22
o    22
v    22
y    22
j    22
d    22
g    22
f    22
l    22
p    21
Name: 2, dtype: int64
c    23
u    22
i    22
s    22
k    22
q    22
e    22
r    22
w    22
z    22
d    22
n    22
y    22
p    22
h    22
x    22
m    22
a    22
o    22
v    22
g    22
t    22
f    22
l    22
b    22
j    21
Name: 3, dtype: int64
j    23
u    22
h    22
s    22
k    22
q    22
c    22
e    22
w    22
r    22
n    22
z    22
p    22
x    22
i    22
m    22
o    22
v    22
y    22
d    22
g    22
t    22
f    22
l    22
b    22
a    21
Name: 4, dtype: int64
g    23
u    22
m    22
s    22
k    22
q    22
c    22
t    22
e    22
w    22
f    22
r    22
n    22
p    22
i    22
h    22
x    22
a    22
o    22
v    22
j    22
d    22
z    22
l    22
b    22
y    21
Name: 5, dtype: int64
d    23
a    22
i    22
s    22
k    22
q    22
c    22
e    22
u    22
w    22
r    22
n    22
z    22
p    22
h    22
x    22
m    22
v    22
o    22
y    22
j    22
g    22
f    22
l    22
b    22
t    21
Name: 6, dtype: int64
g    23
a    22
p    22
s    22
k    22
q    22
c    22
e    22
u    22
w    22
r    22
n    22
z    22
h    22
i    22
x    22
m    22
v    22
o    22
y    22
j    22
d    22
t    22
f    22
l    22
b    21
Name: 7, dtype: int64